		body
		{
			background-color:#ffffff;
			font-family:ubuntu;
			font-size:20px;
			color:#BBA5D2;
		}
		table.addguide
		{
			font-size:20px;
			color:#dfe123;

		}
		div.scrollable
		{
			overflow:scroll;
		}
		h1
		{
			color:#000000;
			text-align:center;
		}
		h2
		{
			color:#000000;
			text-align:left;
		}
		h1.login
		{
			color:#000000;
			text-align:left;
		}
		a.logout
		{
			right:5px;
			font-size:20px;
			position:absolute;
		}
		div.login
		{
			right:50px;
			top:150px;
			font-size:20px;
			position:absolute;
			border:3px black solid;
			width:300px;
			height:300px;
			color:#ADA08F;
			padding-left:10px;
		}
		hr
		{
			height:3px;
			background-color:#750007;
		}
		input.loginField
		{
			left:110px;
			background-color:pink;
			position:absolute;
		}
		input.button
		{
			height:30px;
			width:100px;
			right:35px;
			position:absolute;
		}
		div.error
		{
			color:red;
			font-size:16px;
		}
		div.note
		{
			color:#000000;
			font-size:15px;
		}
		div.footer
		{
			bottom:5px;
			position:absolute;
			font-size:12px;
		}
		

