{% extends "base.html" %}
{% block content %}
	<title>Commit</title>
	<h1>Commit</h1>
	<form action=/guide/commit method=post>
	{% csrf_token %}
	<table cellpadding=5px>
	<tr>
		<td><h3>Enter commit message</h3></td>
	</tr>
	<tr>
		<td>Project : {{ proj }}</td>
	</tr>
	<tr>
		<td><textarea rows=15 cols=50 name=commitMessage ></textarea></td>
	</tr>
	<tr>
		<td><input type=hidden value={{ proj }} name=proj></td>
	</tr>
	<tr>
		<td><input type=submit></td>
	</tr>
	</table>
	</form>
{% endblock %}
