{% extends "base.html" %}
{% block content %}
	<title>Guide Home</title>
	<h1>Guide Home</h1>
	<h2>Gude Actions:</h2>
	<ul>
		<li>Git Actions
			<ul>
				<li><a href=/guide/commit>Commit</a></li>
				<li><a href=/guide/selectcommit?nextAction=/guide/branch/>Branch</a></li>
				<li><a href=/guide/switch>Switch branch</a></li>
				<li><a href=/guide/log>Log</a></li>
			</ul>
		<li>Evalueation
			<ul>
				<li><a href=/guide/selectcommit?nextAction=/guide/Download/>Download</a></li>
				<li><a href=/view>View Project</a></li>
				<li><a href=/guide/email>Send Email to team</a></li>
			</ul>
	</ul>
{% endblock %}
