{% extends 'base.html' %}
{% block content %}

	<h1>Welcome to Academic Project Tracker</h1>
	<ul>
		<li>Project</li>
		<ul>
			<li><a href=/student/upload?target=project>Upload Files</a></li>
			<li><a href=/student/delete?target=project>Delete Files</a></li>
			<li><a href=/student/viewdir?target=project>View Current Version</a></li>
			<li><a href=/download?flag=repo>Download Current Version</a></li>
		</ul>
		<li>Personal Directory</li>
		<ul>
			<li><a href=/student/upload?target=store>Upload Files</a></li>
			<li><a href=/student/delete?target=store>Delete Files</a></li>
			<li><a href=/student/viewdir?target=store>View/Download Files</a></li>
		</ul>
	</ul>
{% endblock %}

