{% extends 'base.html' %}
{% block content %}
	{% if dstn == 'p' %}
		<h2>Upload files to project</h2>
	{% endif %}
	{% if dstn == 's' %}
		<h2>Upload files to personal space</h2>
	{% endif %}
	<br><br>
	<div class=scrollable>
	<form action=/student/upload method=post enctype="multipart/form-data">
	{% csrf_token %}
		Select file:<br><br>
			<input type=file name=file multiple><br><br>
		Select Destination:<br>
			{% if dstn == 's' %}
				<a href=/student/mkdir?target=store>Create New Directory</a><br>
				<input type=radio name=destn id=0 value=''><label for=0>/</label><br>
			{% endif %}
			{% if dstn == 'p' %}
				<a href=/student/mkdir?target=project>Create Directory</a><br>
			{% endif %}
			{% for i in listing %}
				<input type=radio value={{ i }} id={{ i }} name=destn><label for={{ i }}> {{ i }}</label><br>
			{% endfor %}
			<input type=hidden value='{{ mode }}' name=mode>
			<input type=submit value=Upload>
	</form>
	</div>
{% endblock %}
